<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a
    class="menu-link py-3"
    routerLinkActive="active menu-here"
    routerLink="/nsd/dashboard"
  >
    <span class="menu-title"> Dashboard </span>
  </a>
</div>
<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a
    class="menu-link py-3"
    routerLinkActive="active menu-here"
    routerLink="/nsd/widget"
  >
    <span class="menu-title"> Widgets Gallery </span>
  </a>
</div>
<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a
    class="menu-link py-3"
    routerLinkActive="active menu-here"
    routerLink="/nsd/data-source"
  >
    <span class="menu-title"> Data Sources </span>
  </a>
</div>
