<div class="card h-100 py-4">
  <div
    class="card-header d-flex justify-content-between align-items-center border-0 mb-5"
  >
    <!--begin::Page title-->
    <div class="d-flex">
      <!--begin::Title-->
      <h1
        class="page-heading text-dark fw-bold fs-4 d-flex flex-column justify-content-center my-0"
      >
        Widgets Gallery
        <span class="text-muted fs-8 fw-normal mt-2"
          >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy</span
        >
      </h1>
      <!--end::Title-->
    </div>
    <!--end::Page title-->
  </div>
  <div class="card-body pt-0">
    <div class="row">
      <div class="col-3 mb-4">
        <div
          class="btn btn-outline border-dashed border-2 border btn-active-light border-active-secondary d-flex flex-stack justify-content-center p-8 min-h-250px"
          (click)="openManageWidgetGallery()"
        >
          <!--begin::Image-->
          <i class="fa fa-plus pe-0 fs-2x"></i>
          <!--end::Image-->
        </div>
      </div>
      <div class="col-3 mb-4" *ngFor="let widget of WidgetsData">
        <div class="card card-bordered py-4 h-250px min-h-250px">
          <div
            class="card-header d-flex justify-content-between align-items-center border-0 px-4"
          >
            <!--begin::Page title-->
            <div class="d-flex">
              <!--begin::Title-->
              <h1
                class="page-heading text-dark fw-bold fs-6 d-flex flex-column justify-content-center my-0"
              >
                {{ widget?.name }}
              </h1>
              <!--end::Title-->
            </div>
            <!--begin::Primary button-->
            <a
              class="btn btn-icon btn-custom btn-sm btn-icon-gray-700 btn-active-light btn-active-color-primary"
              data-kt-menu-trigger="click"
              data-kt-menu-placement="bottom-start"
              placement="top"
              ngbTooltip="Quick Actions"
            >
              <i class="fa-solid fa-ellipsis fs-3"></i>
            </a>
            <div
              class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light fw-semibold w-150px py-4"
              data-kt-menu="true"
            >
              <div class="menu-item px-4">
                <a
                  (click)="onDetails(widget.id)"
                  class="menu-link px-4 btn btn-sm btn-active-light text-hover-primary"
                >
                  <span class="svg-icon svg-icon-3">
                    <i class="fa-solid fa-eye"></i>
                  </span>
                  View Details</a
                >
              </div>
              <div class="menu-item px-4">
                <a
                  class="menu-link px-4 btn btn-sm btn-active-light text-hover-primary"
                >
                  <span class="svg-icon svg-icon-3">
                    <i class="fa-solid fa-trash"></i>
                  </span>
                  Delete</a
                >
              </div>
            </div>
            <!--end::Primary button-->

            <!--end::Page title-->
          </div>

          <div class="card-body py-2 px-4">
            <div class="h-100 bg-light">
              <img
                class="w-100 h-100"
                src="./assets/media/WidgetThumbnails/{{ widget.thumbnail }}"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
