<!-- Add Configuration Definition Entry -->
<div class="card shadow-sm">
  <div class="card-header py-2">
    <h4 class="card-title fs-5">
      <span *ngIf="!editFlag"> Add Configuration Definition Entry</span>
      <span *ngIf="editFlag"> Edit Configuration Definition Entry</span>
    </h4>

    <div class="card-toolbar">
      <div
        class="btn btn-icon btn-sm btn-active-light ms-2"
        placement="top"
        ngbTooltip="Close"
        (click)="dismiss()"
      >
        <span
          [inlineSVG]="'./assets/media/icons/duotune/arrows/arr088.svg'"
          class="svg-icon svg-icon-muted svg-icon-1"
        ></span>
      </div>
    </div>
  </div>
  <form [formGroup]="configurationDefinitionform">
    <div class="card-body py-3 scroll-y">
      <div class="row">
        <div class="col-12 mb-4">
          <label for="key" class="form-label required">Key</label>
          <input
            type="text"
            name="name"
            class="form-control form-control-sm"
            placeholder="Key"
            formControlName="key"
            minlength="1"
            maxlength="100"
            [ngbTooltip]="configurationDefinitionform.controls['key'].invalid && (configurationDefinitionform.controls['key'].dirty || configurationDefinitionform.controls['key'].touched) && configurationDefinitionform.controls['key'].errors?.['required'] ? required : ''"
            [ngbTooltip]="configurationDefinitionform.controls['key'].invalid && (configurationDefinitionform.controls['key'].dirty || configurationDefinitionform.controls['key'].touched) && configurationDefinitionform.controls['key'].errors?.['maxlength'] ? maxLength : ''"
            [ngbTooltip]="configurationDefinitionform.controls['key'].invalid && (configurationDefinitionform.controls['key'].dirty || configurationDefinitionform.controls['key'].touched) && configurationDefinitionform.controls['key'].errors?.['minlength'] ? minLength : ''"
            [ngbTooltip]="configurationDefinitionform.controls['key'].invalid && (configurationDefinitionform.controls['key'].dirty || configurationDefinitionform.controls['key'].touched) && configurationDefinitionform.controls['key'].errors?.['nameExists'] ? 'Key is not unique!' : ''"
            [ngClass]="{'is-invalid': configurationDefinitionform.controls['key'].invalid && (configurationDefinitionform.controls['key'].dirty || configurationDefinitionform.controls['key'].touched) && configurationDefinitionform.controls['key'].errors?.['required']||configurationDefinitionform.controls['key'].errors?.['maxlength']||configurationDefinitionform.controls['key'].errors?.['minlength']||configurationDefinitionform.controls['key'].errors?.['nameExists']}"
          />
          <ng-template placement="top right" #required>
            <span class="text-danger"> Key is required!</span></ng-template
          >
          <ng-template placement="top right" #maxLength>
            <span class="text-danger">maxLength is 100!</span></ng-template
          >
          <ng-template placement="top right" #minLength>
            <span class="text-danger">minLength is 1!</span></ng-template
          >
          <ng-template placement="top right" #nameExists>
            <span class="text-danger">Key is not unique!</span></ng-template
          >
        </div>
        <div class="col-12 mb-4" (click)="CheckType()">
          <label for="type" class="form-label required">Type</label>
          <select
            class="form-select form-select-sm"
            aria-label=""
            placeholder="Select Type"
            formControlName="type"
          >
            <option value="" disabled>Select Type</option>
            <option [value]="1">Text</option>
            <option [value]="2">Multi-Choice</option>
            <option [value]="3">Check</option>
          </select>
        </div>

        <div class="col-12 mb-4" (click)="CheckType()">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="clearAll"
            />
            <label class="form-check-label text-dark" for="clearAll">
              Checkbox
            </label>
          </div>
        </div>

        <div class="col-12 mb-4">
          <label for="defaultValue" class="form-label">Default Value</label>
          <input
            type="text"
            name="defaultValue"
            class="form-control form-control-sm"
            placeholder="Default Value"
            formControlName="value"
          />
        </div>
        <div class="col-12" *ngIf="this.optionsFlag">
          <label for="description" class="form-label"
            >Options
            <span class="fs-9 text-muted">(Comma Separated)</span></label
          >
          <textarea
            type="text"
            rows="4"
            class="form-control form-control-sm"
            placeholder="Options"
            formControlName="options"
          ></textarea>
        </div>
      </div>
    </div>
  </form>
  <div class="card-footer text-end py-5">
    <button type="button" class="btn btn-sm btn-light me-2" (click)="dismiss()">
      Cancel
    </button>
    <button
      type="submit"
      [disabled]="configurationDefinitionform.invalid || clicked"
      (window:keyup.enter)="save()"
      class="btn btn-sm btn-primary"
      (click)="save()"
    >
      <span id="myDIV">Save</span>
    </button>
  </div>
</div>
